*{
  margin:0;
  padding:0;
  }
  body{
    background-image: url(background.jpg);
    background-position:center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 30px;
    height: 800px;
}
.regform{width:800px;background-color: rgb(0,0,0,0.8)
margin:auto;
color: #FFFFFF;
padding:10px 0px 10px 0px;
text-align: center;border-radius: 15px 15px 0px 0px}
main{background-color: rgb(0,0,0,0.5)
width:800px;
margin:auto;}
.name{
  margin-left: 25px;
  left: 80px;
  margin-top: 30px;
  width: 125px;
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.firstname{
  position: relative;
  left:100px;
  top: -40px;
  line-height:40px;
  border-radius:2px;
  border:transparent;
  border-bottom: 2px solid blue;
  opacity: 80%;
  padding: 0 22px;
  font-size: 16px;
}
.lastname{
  position: relative;
  left:417px;
  top:-85px;
  line-height: 40px;
  border-radius:2px;
  border:transparent;
  border-bottom: 2px solid blue;
  opacity: 80%;
  padding: 0 22px;
  font-size: 16px;
  }
  .gender{
  position: relative;
  left:100px;
  top: 10px;
  line-height:40px;
  border-radius:2px;
  border:transparent;
  border-bottom: 2px solid blue;
  opacity: 80%;
  padding: 0 22px;
  font-size: 16px;


  }
  #gender{
   padding-left:100px;
   margin: 10px;

  }
  #birthmonth{
   padding-left:100px;
   top: 100px;
   padding-top: 40px;
   padding-bottom: -20px;
   margin: 10px;
  }
  #birthyear{
   padding-left:100px;
   padding-top: 40px;
   margin: 10px;
   left:100px;
  }
  
  #birthday{
   padding-left:100px;
   padding-top: 40px;
   margin: 10px;
   left:100px;
  }
  
  .birthmonth{
  position: relative;
  left:100px;
  top: 20px;
  line-height:40px;
  border-radius:2px;
  border:transparent;
  border-bottom: 2px solid blue;
  opacity: 80%;
  padding: 0 22px;
  width: 100px;
  font-size: 16px;

  }
  .birthyear{
  position: relative;
  left:100px;
  top: 35px;
  line-height:40px;
  border-radius:2px;
  border:transparent;
  border-bottom: 2px solid blue;
  opacity: 80%;
  padding: 0 22px;
  font-size: 16px;
  }
  .birthday{
  position: relative;
  left:100px;
  top: 35px;
  line-height:40px;
  border-radius:2px;
  border:transparent;
  border-bottom: 2px solid blue;
  opacity: 80%;
  padding: 0 22px;
  font-size: 16px;

  }
  .submit{
   font-weight:400; 
   left:100px;
   padding-top:20px;
   padding-left: 100px;
   font-weight: 300;
   color: black; 
  }
  #submit{
    top: 100px;
    margin-top: 20px;
    font-weight: 300;
    color: black;
    width: 50px;
    height: 40px;
    left:100px;
  }